
body{
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
   /* background: url(bg/bg1.jpg);
    -webkit-background-size: cover;
    background-size: cover;*/
}

.bg{
    opacity: 0;
    transition: 0.5s all linear;
}

.active{
    opacity: 1 !important;
}

button, input{
    outline: none;
}

/* header*/

.row.header {
    margin-top: 1%;
}

input.search {
    width: 100%;
    border-radius: 13px;
    border: 1px solid #919191;
    padding: 2%;
    outline: none;
}

button.searchButton {
    background: #275D90;
    border: 1px solid #275D90;
    position: absolute;
    top: 0;
    border-radius: 100%;
    left: 85.5%;
    color: white;
    width: 35px;
    height: 35px;
    outline: none;
}

/*dropdown*/
button.demoButton {
    color: #275D90;
    background: transparent;
    border: 0;
    outline: 0;
    margin-top: 8%;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(0,0,0,0.7);
    margin-left: 48%;
    margin-top: -3.3%;
}


.dropDown {
    margin-top: 12%;
    margin-left: -100%;
    position: absolute;
    width: 260%;
    height: 15vw;
    border-radius: 5px;
    background: rgba(0,0,0,0.7);

    transform: scaleY(0);
    transform-origin: top;
    transition: 0.2s all linear;
    transition-delay: 0.2s;
}

.openDropdown{
    transform: scaleY(1);

}
/*end dropdown*/

/* end header*/

/*body*/
.row.body {
    margin-top: 0.5%;
    width: 100vw;
    height: 75vh;
  /*  background: url(bg/background12.jpg);
    background-size: cover;
    color: white;*/
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    padding: 2%;
    padding-left: 9%;
    position: relative;

}

.tagLine {
    font-size: 120%;
    word-spacing: 4px;
    letter-spacing: 1px;
    width: 41%;
}

.body h1{
    font-family: 'Righteous', cursive;
}

.moveLeft{
    transform: translateX(-100%);
}

.mainText{
    transition: 0.2s all linear;
    transition-delay: 0.2s;
}

/*login body*/

.registerPage,
.loginForm{
    background: rgba(0,0,0,0.7);
}

button.LoginPush, .registerPush {
    background: #275D90;
    border: 1px solid #275D90;
    padding: 0.5% 1%;
    border-radius: 5px;
    margin-top: 2%;
    position: absolute;
    transform: rotate(270deg);
    margin-left: -0.5%;

}

form.loginForm {
    text-align: center;
    margin-left: 4.2%;
    width: 50%;
    border: 2px solid;
    border-radius: 5px;
    padding: 8%;
    margin-top: -4%;
}
.loginFormPage , .registerPage{
    margin-top: -12%;
    padding-left: 20%;
    transition: 0.2s all linear;
    transition-delay: 0.2s;
}

.loginForm input {
    /*background: transparent;*/
    color: #000000;
    border: 2px solid white;
    border-radius: 9px;
    padding: 2%;
    width: 70%;
    text-align: center;
    outline: 0;
}

.container1 {
    margin-bottom: 2%;
}

button.signIn {
    background: #125E14;
    border: 1px solid #125E14;
    width: 70%;
    padding: 1%;
    border-radius: 5px;
    margin-left: 5%;
}

.moveRight{
    transform: translateX(79%);
}

.moveReg{
    transform: translateX(0) !important;


}
/*end login body*/

/*Register body*/

.registerPage{
    position: absolute;
    top: 0;
    padding-left: 0;
    margin-top: 6%;
    width: 50%;
    border: 2px solid;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5px;
    margin-left: 17%;
    transform: translateX(149%);
}

.contentBodyReg{
    text-align: center;

}
button.registerPush {
    position: absolute;
    margin-left: -8.3%;
    margin-top: 5%;
    padding: 1% 1%;
}

.registerButtons button {
    background: transparent;
    border: 2px solid white;
    padding: 1%;
    /*border-radius: 5px;*/
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    margin-top: 5%;
    margin-bottom: 9%;
    margin-right: 2%;
}

.registerButtons img{
    width: 40%;
}
/* end Register body*/


/*end body*/

/*footer */
.border {
    border-bottom: 1px solid;
    width: 100%;
}

.footer{
    color: #053562;
    margin-top: 0.5%;
}

.subFooter {
    font-size: 105%;
    line-height: 160%;
}

.border {
    border-bottom: 1px solid;
    width: 72%;
    margin-bottom: 2%;
}

.fade{
    opacity: 0;
}
/*end footer */